<h2>Form for new message</h2>
<form method="POST" action="/new">
    <div class="user-div form-div">
        <label for="username">Username</label>
        <input type="text" maxlength="20" required id="username" name="username">
    </div>
    <div class="text-div form-div">
        <label for="text">Text</label>
        <textarea id="text" type="t" maxlength="100" required name="textUser"></textarea>
    </div>
    <button class="submit-form">Submit</button>
</form>